
@model FoodServices.Models.OrderModel
<link href="~/Styles/StyleSheet1.css" rel="stylesheet" />

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@using (Html.BeginForm())
{
    <div id="order">
        <div id="top">
            <h2>Book our services</h2>
        </div>
        <hr />
        <div id="bottom">
            <form>
                <table>
                    <tr>
                        <th>User Name</th>
                        <th>Date &amp; Time</th>
                    </tr>
                    <tr>
                        <td>@Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control input" } })</td>
                        <td>@Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control input" } })</td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })</td>
                        <td>@Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" }) </td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <th>Email</th>
                    </tr>
                    <tr>
                        <td>@Html.EditorFor(m => m.Phonenumber, new { htmlAttributes = new { @class = "form-control input" } })</td>
                        <td>@Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control input" } })</td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(m => m.Phonenumber, "", new { @class = "text-danger" })</td>
                        <td>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Order" class="btn btn-danger" /></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>



}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

